<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cctv.mapper.PlanTestMapper">
    <resultMap id="BaseResultMap" type="com.cctv.entity.PlanTest">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID_PLAN_TEST" jdbcType="BIGINT" property="idPlanTest"/>
        <result column="PLAN_CODE" jdbcType="VARCHAR" property="planCode"/>
        <result column="PLAN_TYPE" jdbcType="VARCHAR" property="planType"/>
    </resultMap>


    <insert id="insertBatch" parameterType="com.cctv.entity.PlanTest">
        insert into plan_test
        (
        plan_code,
        plan_type
        )
        values
        <foreach collection="planTestList" item="planTest" index="index" separator=",">
            (
            #{planTest.planCode},
            #{planTest.planType}
            )
        </foreach>
    </insert>
</mapper>